# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin/
tmp/
.metadata
.springBeans
.recommenders

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# New Relic
newrelic/
